.post {
  background-color: #2f2a2f;
  text-align: center;
}

.post a {
  color: #fff;
  text-decoration: none;
}
.post .content {
  padding: 1rem 2.5rem;
}
.post h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.post time {
  margin-top: 1rem;
  font-style: italic;
  display: block;
}

.post p {
  margin-top: 1rem;
}

.post .image {
  position: relative;
  height: 200px;
}
